.positionTheCamera {
  text-align: center;
  height: 100%;
  padding: 54px 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 22px;

  &__image {
    margin: 0 auto;
  }

  &__text {
    width: 80%;
    margin: 0 auto;
  }
}